br {
    line-height: 5px;
}

body {
  background-color: rgb(231, 231, 231);
}

.search {
  margin-left: 20%;
	margin-right: 20%;
  width: 55%;
  height: 10%;
  top: 5.5%;
}

input {
  width: 100%;
  padding: 15px 20px 15px 40px;
  text-align: right;
  font-size: 18px;
  color: rgb(87, 87, 87);
  background-color: rgb(190, 190, 190);
  opacity: 75%;
  border-radius: 25px;
  border: none;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  transition: .2s;
}

input:focus{
  width: 100%;
  outline-width: 1;
	box-shadow: 0px 0px 5px black;
  font-size: 20px;
}

.button-1-icon {
  position: absolute;
  height: 370px;
  width: 180px;
  left: 20.2%;
  top: 10.5%;
  border: 2px solid #ff0000;
  background-color: #eeeeee;
  -webkit-transition: background-color 0.4s ease-out;
  transition: 1s;
  border-radius: 20px;

  box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -o-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
}

.button-1-icon:hover {
  text-shadow: 3px 3px 5px #4a4a4a;
  background-color: #ff0000;
  -webkit-transition: background-color 0.4s ease-in;
  -webkit-transition: text-shadow 0.4s ease-in-out;
  transition: 1s;
}

.button-1-icon p1 {
  color: #eeeeee;
  font-size: 15px;
}

.button-1-icon p2 {
  font-size: 100px;
}

.button-2-icon {
  position: absolute;
  height: 180px;
  width: 180px;
  left: 35%;
  top: 10.5%;
  border: 2px solid #000aff;
  background-color: #eeeeee;
  -webkit-transition: background-color 0.4s ease-out;
  transition: 1s;
  border-radius: 20px;

  box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -o-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
}

.button-2-icon:hover {
  text-shadow: 3px 3px 5px #4a4a4a;
  background-color: #000aff;
  -webkit-transition: background-color 0.4s ease-in;
  -webkit-transition: text-shadow 0.4s ease-in-out;
  transition: 1s;
}

.button-2-icon p1 {
  color: #eeeeee;
  font-size: 15px;
}

.button-2-icon p2 {
  font-size: 90px;
}

.button-3-icon {
  position: absolute;
  height: 180px;
  width: 180px;
  left: 20.2%;
  top: 70.5%;
  border: 2px solid #38ac32;
  background-color: #eeeeee;
  -webkit-transition: background-color 0.4s ease-out;
  transition: 1s;
  border-radius: 20px;

  box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -o-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
}

.button-3-icon:hover {
  text-shadow: 3px 3px 5px #4a4a4a;
  background-color: #38ac32;
  -webkit-transition: background-color 0.4s ease-in;
  -webkit-transition: text-shadow 0.4s ease-in-out;
  transition: 1s;
}

.button-3-icon p1 {
  color: #eeeeee;
  font-size: 15px;
}
.button-3-icon p2 {
  font-size: 90px;
}

.button-4-icon {
  position: absolute;
  height: 180px;
  width: 375px;
  left: 50%;
  top: 10.5%;
  border: 2px solid #9e61b4;
  background-color: #eeeeee;
  -webkit-transition: background-color 0.4s ease-out;
  transition: 1s;
  border-radius: 20px;

  box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -o-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
}

.button-4-icon:hover {
  text-shadow: 3px 3px 5px #4a4a4a;
  background-color: #9e61b4;
  -webkit-transition: background-color 0.4s ease-in;
  -webkit-transition: text-shadow 0.4s ease-in-out;
  transition: 1s;
}

.button-4-icon p1 {
  color: #eeeeee;
  font-size: 15px;
}
.button-4-icon p2 {
  font-size: 90px;
}

.button-5-icon {
  position: absolute;
  height: 180px;
  width: 180px;
  left: 35%;
  right: 40%;
  top: 40%;
  border: 2px solid #e2c926;
  background-color: #eeeeee;
  -webkit-transition: background-color 0.4s ease-out;
  transition: 1s;
  border-radius: 20px;

  box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -o-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
}

.button-5-icon:hover {
  text-shadow: 3px 3px 5px #4a4a4a;
  background-color: #e2c926;
  -webkit-transition: background-color 0.4s ease-in;
  -webkit-transition: text-shadow 0.4s ease-in-out;
  transition: 1s;
}

.button-5-icon p1 {
  color: #eeeeee;
  font-size: 15px;
}

.button-5-icon p2 {
  font-size: 90px;
}

.button-6-icon {
  position: absolute;
  height: 180px;
  width: 180px;
  left: 35%;
  right: 40%;
  top: 70.5%;
  border: 2px solid #ff9900;
  background-color: #eeeeee;
  -webkit-transition: background-color 0.4s ease-out;
  transition: 1s;
  border-radius: 20px;

  box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -o-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);

}

.button-6-icon:hover {
  text-shadow: 3px 3px 5px #4a4a4a;
  background-color: #ff9900;
  -webkit-transition: background-color 0.4s ease-in;
  -webkit-transition: text-shadow 0.4s ease-in-out;
  transition: 1s;
}

.button-6-icon p1 {
  color: #eeeeee;
  font-size: 15px;
}

.button-6-icon p2 {
  font-size: 90px;
}

.button-7-icon {
  position: absolute;
  height: 370px;
  width: 180px;
  left: 50%;
  right: 35%;
  top: 40%;
  border: 2px solid #e4439a;
  background-color: #eeeeee;
  -webkit-transition: background-color 0.4s ease-out;
  transition: 1s;
  border-radius: 20px;

  box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -o-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
}

.button-7-icon:hover {
  text-shadow: 3px 3px 5px #4a4a4a;
  background-color: #e4439a;
  -webkit-transition: background-color 0.4s ease-in-out;
  -webkit-transition: text-shadow 0.4s ease-in-out;
  transition: 1s;
}

.button-7-icon p1 {
  color: #eeeeee;
  font-size: 15px;
}

.button-7-icon p2 {
  font-size: 100px;
}

.button-8-icon {
  position: absolute;
  height: 180px;
  width: 180px;
  left: 65%;
  right: 40%;
  top: 40%;
  border: 2px solid #009cff;
  background-color: #eeeeee;
  -webkit-transition: background-color 0.4s ease-out;
  transition: 1s;
  border-radius: 20px;

  box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -o-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
}

.button-8-icon:hover {
  text-shadow: 3px 3px 5px #4a4a4a;
  background-color: #009cff;
  -webkit-transition: background-color 0.4s ease-in;
  -webkit-transition: text-shadow 0.4s ease-in-out;
  transition: 1s;
}

.button-8-icon p1 {
  color: #eeeeee;
  font-size: 15px;
}

.button-8-icon p2 {
  font-size: 90px;
}

.button-9-icon {
  position: absolute;
  height: 180px;
  width: 180px;
  left: 65%;
  right: 40%;
  top: 70.5%;
  border: 2px solid #ed8374;
  background-color: #eeeeee;
  -webkit-transition: background-color 0.4s ease-out;
  transition: 1s;
  border-radius: 20px;

  box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -o-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
}

.button-9-icon:hover {
  text-shadow: 3px 3px 5px #4a4a4a;
  background-color: #ed8374;
  -webkit-transition: background-color 0.4s ease-in;
  -webkit-transition: text-shadow 0.4s ease-in-out;
  transition: 1s;
}

.button-9-icon p1 {
  color: #eeeeee;
  font-size: 15px;
}

.button-9-icon p2 {
  font-size: 90px;
}
